.App {
  text-align: center;
}
.authbackground {
  background-image: linear-gradient(to right, #FF70A6, #E9FF70);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginbox {
  background-image: linear-gradient(to right, #FF70A6, #E9FF70);
  width: 600px;
  height: 400px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  box-shadow: 1px 1px 8px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.winky {
  width: 150px;
}
.head {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 10px;
  margin-top: 15px;
}
.eyes {
  display: flex;
width: 80px;
}
.lefteye {
  background-color: white;
  width: 30px;
  height: 10px;
  position: relative;
  top: 30px;
  left: 10px

}
.righteye {
  width: 20px;
  height: 20px;
  border: solid 10px white;
  border-radius: 50%;
  position: relative;
  right: -20px;
  top: 15px
}
.smile {
  background-color: white;
  width: 55px;
  height: 10px;
  position: relative;
  top: 20px;
  left: 23px;
  border-radius: 45%
}
h1 {
  font-size: 75px;
  color: white;
  margin-top: -10px;
}
label {
  color: white;
  margin-right: 20px;
}
.usernameInput {
position: relative;
top: -50px;
}
.passwordInput {
  position: relative;
  top: -40px;
}
.buttons {
position: relative;
top: -20px; 
}
.loginButton {
  margin-right: 50px;
  color: white;
  background-color: #403D39;
  height: 30px;
  width: 60px;
}
.registerButton {
  color: white;
  background-color: #403D39;
  height: 30px;
  width: 80px;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 150px;
  position: fixed;
  background-image: linear-gradient(to bottom, #FF9770, #FF70A6);
  z-index: 3;
}
.dashboard {
  background-color: #F2F2F2;
  width: 100vw;
  height: 100vh;
}
.navbarmain {
  display: flex;
  flex-direction: column;
}
.logoutbutton {
  width: 100px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.homebutton {
  color: white;
  background-color: #403D39;
  height: 30px;
  width: 60px;
}
.postbutton {
  color: white;
  background-color: #403D39;
  height: 30px;
  width: 80px;
  margin-top: 20px;
}

